In [1]:
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import warnings
warnings.simplefilter('ignore')
plt.style.use('dark_background')
from sklearn.metrics import mean_squared_error as mse

In [2]:
data = pd.read_csv('raw3')
data.head()

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,7129300520,14 October 2017,221900.0,3,1.00,1180.0,5650.0,1.0,No,None,...,7,1180.0,0,63,0,98178.0,47.5112,-122.257,1340.0,5650
1,6414100192,14 December 2017,538000.0,3,2.25,2570.0,7242.0,2.0,No,None,...,7,2170.0,400,67,1991,98125.0,47.7210,-122.319,1690.0,7639
2,5631500400,15 February 2016,180000.0,2,1.00,770.0,10000.0,1.0,No,None,...,6,770.0,0,85,0,98028.0,47.7379,-122.233,2720.0,8062
3,2487200875,14 December 2017,604000.0,4,3.00,1960.0,5000.0,1.0,No,None,...,7,1050.0,910,53,0,98136.0,47.5208,-122.393,1360.0,5000
4,1954400510,15 February 2016,510000.0,3,2.00,1680.0,8080.0,1.0,No,None,...,8,1680.0,0,31,0,98074.0,47.6168,-122.045,1800.0,7503

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21609 non-null  int64
 1   Date House was Sold                        21609 non-null  object
 2   Sale Price                                 21609 non-null  float64
 3   No of Bedrooms                             21609 non-null  int64
 4   No of Bathrooms                            21609 non-null  float64
 5   Flat Area (in Sqft)                        21609 non-null  float64
 6   Lot Area (in Sqft)                         21609 non-null  float64
 7   No of Floors                               21609 non-null  float64
 8   Waterfront View                            21609 non-null  object
 9   No of Times Visited                        21609 non-null  object
 10  Condition of the House                     21609 non-null  object
 11  Overall Grade                              21609 non-null  int64
 12  Area of the House from Basement (in Sqft)  21609 non-null  float64
 13  Basement Area (in Sqft)                    21609 non-null  int64
 14  Age of House (in Years)                    21609 non-null  int64
 15  Renovated Year                             21609 non-null  int64
 16  Zipcode                                    21609 non-null  float64
 17  Latitude                                   21609 non-null  float64
 18  Longitude                                  21609 non-null  float64
 19  Living Area after Renovation (in Sqft)     21609 non-null  float64
 20  Lot Area after Renovation (in Sqft)        21609 non-null  int64
dtypes: float64(10), int64(7), object(4)
memory usage: 3.5+ MB

In [4]:
num_data = data.drop(columns = ['ID', 'Date House was Sold', 'Sale Price', 'Waterfront View', 'No of Times Visited', 
                               'Condition of the House', 'Overall Grade', 'Zipcode'])
num_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 13 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   No of Bedrooms                             21609 non-null  int64
 1   No of Bathrooms                            21609 non-null  float64
 2   Flat Area (in Sqft)                        21609 non-null  float64
 3   Lot Area (in Sqft)                         21609 non-null  float64
 4   No of Floors                               21609 non-null  float64
 5   Area of the House from Basement (in Sqft)  21609 non-null  float64
 6   Basement Area (in Sqft)                    21609 non-null  int64
 7   Age of House (in Years)                    21609 non-null  int64
 8   Renovated Year                             21609 non-null  int64
 9   Latitude                                   21609 non-null  float64
 10  Longitude                                  21609 non-null  float64
 11  Living Area after Renovation (in Sqft)     21609 non-null  float64
 12  Lot Area after Renovation (in Sqft)        21609 non-null  int64
dtypes: float64(8), int64(5)
memory usage: 2.1 MB

In [10]:
from sklearn.preprocessing import Normalizer
norm = Normalizer()
norm_data = norm.fit_transform(num_data)

norm_data = pd.DataFrame(norm_data, columns = num_data.columns)
norm_data

,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,0.000363,0.000121,0.142628,0.682924,0.000121,0.142628,0.000000,0.007615,0.000000,0.005743,-0.014777,0.161968,0.682924
1,0.000264,0.000198,0.226174,0.637335,0.000176,0.190972,0.035202,0.005896,0.175219,0.004200,-0.010765,0.148729,0.672273
2,0.000152,0.000076,0.058440,0.758961,0.000076,0.058440,0.000000,0.006451,0.000000,0.003623,-0.009277,0.206437,0.611874
3,0.000527,0.000395,0.258159,0.658569,0.000132,0.138299,0.119859,0.006981,0.000000,0.006259,-0.016121,0.179131,0.658569
4,0.000263,0.000175,0.147072,0.707346,0.000088,0.147072,0.000000,0.002714,0.000000,0.004169,-0.010684,0.157577,0.656834
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21604,0.000922,0.000768,0.470018,0.347445,0.000922,0.470018,0.000000,0.002765,0.000000,0.014653,-0.037585,0.470018,0.463567
21605,0.000401,0.000250,0.231383,0.582263,0.000200,0.231383,0.000000,0.000401,0.000000,0.004759,-0.012256,0.183303,0.721193
21606,0.000667,0.000250,0.340207,0.450274,0.000667,0.340207,0.000000,0.003002,0.000000,0.015874,-0.040791,0.340207,0.669407
21607,0.000788,0.000657,0.420407,0.627457,0.000526,0.420407,0.000000,0.003679,0.000000,0.012490,-0.032074,0.370484,0.338165
21608,0.000807,0.000303,0.411714,0.434318,0.000807,0.411714,0.000000,0.004036,0.000000,0.019211,-0.049365,0.411714,0.547741

In [11]:
tmp = norm_data.var()
tmp

No of Bedrooms                               4.071117e-08
No of Bathrooms                              2.802492e-08
Flat Area (in Sqft)                          1.231500e-02
Lot Area (in Sqft)                           1.351803e-02
No of Floors                                 3.008524e-08
Area of the House from Basement (in Sqft)    1.010140e-02
Basement Area (in Sqft)                      1.648493e-03
Age of House (in Years)                      2.002344e-05
Renovated Year                               1.684740e-03
Latitude                                     1.077875e-05
Longitude                                    7.109191e-05
Living Area after Renovation (in Sqft)       1.079222e-02
Lot Area after Renovation (in Sqft)          1.250016e-02
dtype: float64

In [12]:
T = 1e-04

for i in tmp:
    if i < T:
        norm_data.drop(columns = tmp[tmp == i].index[0], inplace = True)
norm_data.var()

Flat Area (in Sqft)                          0.012315
Lot Area (in Sqft)                           0.013518
Area of the House from Basement (in Sqft)    0.010101
Basement Area (in Sqft)                      0.001648
Renovated Year                               0.001685
Living Area after Renovation (in Sqft)       0.010792
Lot Area after Renovation (in Sqft)          0.012500
dtype: float64